body{
  background-color: #cfd8dc;
  background-image: url("/static/1600x1200.fb4568685ac5.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}
.padder{
  padding-top: 150px;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.active, .accordion:hover {
  background-color: #ccc;
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.signUpPage{
  padding-left: 45px;
  text-shadow: 0.5px 0.5px 1px;
  color:#d7ccc8;
}
.signUpButton{
  color:#000000;
}
.bookData{
  text-shadow: 0.5px 0.5px 1px;
  color:#d7ccc8;
}
.card{
  padding-top: 15px;
  padding-left: 15px;
  width: 18rem;
  text-shadow: 1px 1px 3px;
  color:#cfd8dc;
}
.colI{
  color:#cfd8dc;
  text-shadow: 0.5px 0.5px 1px;
}
.topPad{
    padding-top: 55px;
}
.floatButt{
  padding-top: 45px;
  padding-left: 35px;
}
.iForgotToMakeStaticCSSLastTimeImSorry{
  position:relative;
  top:20px;
  left:25px;
}
.my-auto{
  padding-top: 70px;
  padding-left: 35px;
}
.addPostButt{
  text-shadow: 1px 1px 3px;
  color:#cfd8dc;
}
.mainContain{
  position:absolute;
  top:60px;
  background-color: ;
  left:20px;
  width:600px;
  height:650px;
  text-align: right;
  opacity:0.2;
}
.greeting{
  position:relative;
  color: #eceff1;
  text-align: center;
}
.myName{
  position:relative;
  color:#fafafa;
  text-align: center;
}
.goodBye{
  position:relative;
  color: #eceff1;
  text-align: center;
}
.greetBox{
  font-size: 1.3em;
}
.navbar.transparent.navbar-inverse{
  background: rgba(0,0,0,0.4);
}
.nav.navbar-nav a {
  text-shadow: 1px 1px 3px;
  color:#cfd8dc;
}
.nav.navbar-nav > li > a:hover, .nav.navbar-nav > li > a:focus {
    background-color: #37474f;
    color: #ffffff;
    opacity:0.4;
}
.navbar-header a {
  text-shadow: 1px 1px 3px;
  color:#cfd8dc;
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
