body{
  background-color: #cfd8dc;
  background-image: url("/static/1600x1200.fb4568685ac5.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}
.padder{
  padding-top: 30px;
}
.mainContain{
  display:flex;
  float: left;
  padding-left: 45px;
  text-align: right;
}
.leftBar{
  flex:25%;
  text-shadow: 1px 1px 3px;
}
.rightBar{
  flex:75%;
}
.navbar.transparent.navbar-inverse{
  background: rgba(0,0,0,0.4);
}
.nav.navbar-nav a {
  text-shadow: 1px 1px 3px;
  color:#cfd8dc;
}
.navbar-header a {
  text-shadow: 1px 1px 3px;
  color:#cfd8dc;
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
