body{
  background-color: #cfd8dc;
  background-image: url("/static/1600x1200.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}
.padder{
  padding-top: 150px;
}
.infoTitle{
  color:#d7ccc8;
}
.login{
  color:#d7ccc8;
  text-shadow: 0.1px 0.1px 0.5px;
}
#loginButton{
  color:#000000;
}
.accordion {
  background-color: #fff;
  color: #424242;
  text-shadow: 0.1px 0.1px 0.5px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
}
.active, .accordion:hover {
  background-color: #ccc;
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.signUpPage{
  padding-left: 45px;
  text-shadow: 0.5px 0.5px 1px;
  color:#d7ccc8;
}
.signUpButton{
  color:#000000;
}
.buttonOn{
  background-color: #dce775;
  color:#424242;
}
.bookData{
  text-shadow: 0.5px 0.5px 1px;
  color:#d7ccc8;
}
.card{
  padding-top: 15px;
  padding-left: 15px;
  width: 18rem;
  text-shadow: 1px 1px 3px;
  color:#cfd8dc;
}
.rounded-circle{
  border-radius: 50%;
}
.img{
  position:relative;
  padding-top: 15px;
}
.colI{
  color:#cfd8dc;
  text-shadow: 0.5px 0.5px 1px;
}
.topPad{
    padding-top: 55px;
}
.floatButt{
  padding-top: 45px;
  padding-left: 35px;
}
.iForgotToMakeStaticCSSLastTimeImSorry{
  position:relative;
  top:20px;
  left:25px;
}
.my-auto{
  padding-top: 70px;
  padding-left: 35px;
}
.addPostButt{
  text-shadow: 1px 1px 3px;
  color:#cfd8dc;
}
.mainContain{
  position:absolute;
  top:60px;
  background-color: ;
  left:20px;
  width:600px;
  height:650px;
  text-align: right;
  opacity:0.4;
}
.greeting{
  position:relative;
  padding-top: 5px;
  color: #eceff1;
  text-align: center;
  padding-bottom: 5px;
}
.greeting-Alt{
  position:relative;
  padding-top: 5px;
  color: #424242;
  text-align: center;
  padding-bottom: 5px;
}
.myName{
  position:relative;
  color:#fafafa;
  text-align: center;
}
.goodBye{
  position:relative;
  color: #eceff1;
  text-align: center;
}
.greetBox{
  position:fixed;
  top:15px;
  background-color: #3e2723;
  right:15px;
  width:400px;
  height:2000px;
  font-size: 1.3em;
  opacity:0.8;
}
.greetBox-Alt{
  position:fixed;
  top:15px;
  background-color: #ffffff;
  right:15px;
  width:400px;
  height:2000px;
  font-size: 1.3em;
  opacity:0.8;
}
.img{
  opacity:1;
  position:relative;
  text-align: center;
}
.buton{
  position:relative;
  text-align: center;
}
.backgroundColor{
  background-color: #37474f;
  color: #eceff1;
}
.backgroundColor-alt{
  background-color: #bdbdbd;
  color: #212121;
}
.navbar.transparent.navbar-inverse{
  background: rgba(0,0,0,0.4);
}
.nav.navbar-nav a {
  text-shadow: 1px 1px 3px;
  color:#cfd8dc;
}
.nav.navbar-nav > li > a:hover, .nav.navbar-nav > li > a:focus {
    background-color: #37474f;
    color: #ffffff;
    opacity:0.4;
}
.navbar-header a {
  text-shadow: 1px 1px 3px;
  color:#cfd8dc;
}
.night-link{
  text-shadow: 1px 1px 3px;
  color:#cfd8dc;
}
.nav.navbar-navAlt a {
  text-shadow: 1px 1px 3px;
  color:#a1887f;
}
.navbar-headerAlt a {
  text-shadow: 1px 1px 3px;
  color:#a1887f;
}
.night-linkAlt{
  text-shadow: 1px 1px 3px;
  color:#a1887f;
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
