{% extends "base_file.html" %}

{% load static%}
{% block content %}
<section id="Events">
	<div class="my-auto">
        	<form class = "form" id="form" method="POST" action="{% url 'saveproject' %}">
	        	{% csrf_token %}
	          {{ title }}<!-- No .as_p karena itu buat forms only-->
	          {{ addPost_form.as_p }}
            <div class="brnButt">
	        	  <input id="submit" type="submit" class="xsc btn-light" value="Submit">
              <button type="button" class="xsd btn-light" href="{% url 'forum' %}">Back</button>
            </div>
       		</form>
    </div>
</section>

{% endblock %}
