<!DOCTYPE html> {%load static%}
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}"> {% block css %}{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--<script type="text/javascript" src="/static/static.js"></script>-->
  <script type="text/javascript" src="{% static 'static.js' %}"></script>{% block js %}{% endblock %}
  <title>Profile Page</title>
</head>

<body>
  <nav class="navbar.transparent.navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">Amal's Profile</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="nav-link"><a href="{% url 'profile' %}">Home</a></li>
        <li><a class="nav-link" href="{% url 'forum' %}">Forum</a></li>
        <li><a class="nav-link" href="{% url 'bookPage' %}">Find a Book</a></li>
        <li><a class="nav-link" href="{% url 'signUp' %}">Subscribe</a></li>
        {% if request.user.is_authenticated %}
        <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
        <li><a class="nav-link" href="#">{{ request.user }}</a></li>
        {% else %}
        <li><a class="nav-link" href="{% url 'login' %}">Login</a></li>
        {% endif %}
        <li><a class="nav-link" href="{% url 'information' %}">Information</a></li>
        <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </div>
  </nav>
  <div class="blockContain">
    {% block content %}{% endblock %}
  </div>
</body>
<!--
List of Problems:
- No Login


-->
</html>
