{% extends 'base_file.html' %} {% load static%} {%block content%}
<div>
  <div class="topPad"></div>
  <div class="bookIntro">
    <h1 style="font-size:100px ; font-family: Arial, Helvetica, sans-serif;color: #F0E6EF;"> LIBRARY </h1>
    <h3 style="font-family: Arial, Helvetica, sans-serif;color: #F0E6EF">Find your favorite book here !</h3>
    <text style="font-size: 24px;font-family: Arial, Helvetica, sans-serif;color: #F0E6EF">Favourite(s):</text>
    <text style="font-size: 24px; font-family: Arial, Helvetica, sans-serif;color: #F0E6EF" id="counter">0</text>
    <input class="form" id="search-query" type="text" placeholder="Search topics or keywords">
    <button class="submitButton" type="submit" onclick='look()'>Search</button>
  </div>
  <table class="table"id="bookTable" >
    <thead>
      <tr>
        <th scope="col" class="colI">Cover Image</th>
        <th scope="col" class="colI">Book Name</th>
        <th scope="col" class="colI">Book Amount</th>
        <th scope="col" class="colI">Publisher</th>
        <th scope="col" class="colI">Favorite</th>
      </tr>
    </thead>
    <!--Above defines the top part of the table, bottom is the isinya-->
    <tbody class="bookData">
    </tbody>
  </table>
</div>
{%endblock%}
