{% extends "base_file.html" %} {% load static %} {% block content %}
<div class="topPad"></div>
<body>

<h2 class="infoTitle">Information about Amal Adiguna</h2>

<button class="accordion">Activities</button>
<div class="panel">
  <p>  -  None as of this moment<br>
       -  Used to be MUN<br>
     </p>
</div>

<button class="accordion">Organizations/Committees</button>
<div class="panel">
  <p> - UI MUN Club <br>
      - That's it</p>
</div>

<button class="accordion">Achievements</button>
<div class="panel">
  <p> - GGA Best Delegate <br>
      - ALSA E-MUN Most Outstanding <br>
      - IMUN 2018 Honorable Mention </p>
</div>
<script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight){
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script>
</body>
{% endblock %}
