{% extends "base_file.html" %} {% load static %} {% block content %}

<div class="iForgotToMakeStaticCSSLastTimeImSorry">
  <div class="floatButt">
    <a class="addPostButt" href="{% url 'addPost' %}">Add a Post!</a>
    <a class="addPostButt" href="{% url 'deleteAll' %}">Delete all posts!</a>
  </div>
  {% if forum %} {% for data in forum %}
  <div class="card">
    <p>Post:<br>{{data.Status}}</p>
  </div>
  {% endfor %} {% else %} {% endif %}
</div>
{% endblock %}
