{% extends "base_file.html" %} {% load static %} {% block content %}
<div class="padder"></div>
<div>
  <div class="greetBox">
    <div class="img">
      <img src="https://scontent.fcgk12-1.fna.fbcdn.net/v/t1.0-0/p552x414/36737332_10213176522189667_3006931321466388480_n.jpg?_nc_cat=104&oh=14643f4e27a236a0c3c7bff9128f64ba&oe=5C5F469A" alt="" class="rounded-circle" width="304" height="304">
    </div>
    <div>
      <p class="greeting">
        {% if request.user.is_authenticated %}
        Hello and Welcome {{ request.user }}!<br>
        {% else %}
        Hello and Welcome visitor!<br>
        {% endif %}
        My name is Amal Adiguna.<br>
        and I hope you enjoy your visit.<br>
      </p>
      <div class="buton">
        <p>
          <button type="button" class="backgroundColor">Change the profile color</button>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
