{% extends "base_file.html" %} {% load static %} {% block content %}
<div class="topPad"></div>
<div class="loginPage">
  <div class="login">
    <h2>Login</h2>
    <form id="form" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button id="loginButton" type="submit">Save changes</button>
    </form>
    <div class="topPad"></div>
    <div>
      <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
    </div>
  </div>
  <div class="loginFluff">

  </div>
  <div class="extend"></div>
</div>
{% endblock %}
