{% extends "base_file.html" %} {% load static %} {% block content %}
<div class="topPad"></div>
<div class="signUpPage">
  <div class="upForm">
    <h2>Sign up</h2>
    <form id="form" method="post" action="{% url 'saveAccount' %}">
      {% csrf_token %} {{ subscribe_form.as_p }}
      <button class = "signUpButton" type="submit">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
